{% extends "base.html" %}
{% block title %}
  Deals
{% endblock title %}
{% block content %}
  <div class="container py-5">
    <h1>All deals.</h1>
    <table width="100%">
      <thead>
        <tr>
          <th style="text-align:center">Id</th>
          <th style="text-align:center">Opening time</th>
          <th style="text-align:center">Closed</th>
          <th style="text-align:center">Ticker</th>
          <th style="text-align:center">Quantity</th>
          <th style="text-align:center">Purchase price, USD</th>
          <th style="text-align:center">Selling price, USD</th>
          <th style="text-align:center">Revenue, USD</th>
          <th style="text-align:center">Trader</th>
        </tr>
      </thead>
      <tbody>
        {% for deal in page_obj %}
          <tr>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.id }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.opening_date }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.closed }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.ticker }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.quantity }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.purchase_price }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.selling_price }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.revenue }}</td>
            <td style="text-align:center; border: 1px solid #c0c0c0">{{ deal.trader.id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "deals/includes/paginator.html" %}
  </div>
{% endblock content %}