{% extends "base.html" %}
{% block title %}
  Traders
{% endblock title %}
{% block content %}
  <div class="container py-5">
    <h1>All trader's statistics.</h1>
    <table width="100%">
      <thead>
        <tr>
          <th style="text-align:center">Id</th>
          <th style="text-align:center">Date of creation</th>
          <th style="text-align:center">Working</th>
          <th style="text-align:center">Initial deposit, USD</th>
          <th style="text-align:center">Current deposit, USD</th>
          <th style="text-align:center">Revenue, USD</th>
          <th style="text-align:center">Market</th>
        </tr>
      </thead>
      <tbody>
        {% for trader in page_obj %}
          <tr>
            <td style="text-align:center">{{ trader.id }}</td>
            <td style="text-align:center">{{ trader.creation_date }}</td>
            <td style="text-align:center">{{ trader.working }}</td>
            <td style="text-align:center">{{ trader.initial_deposit }}</td>
            <td style="text-align:center">{{ trader.current_deposit }}</td>
            <td style="text-align:center">{{ trader.revenue }}</td>
            <td style="text-align:center">{{ trader.market }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include "deals/includes/paginator.html" %}
  </div>
{% endblock content %}