<!DOCTYPE html>
<html lang="ru">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Title{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/icon.ico' %}" type="image">
  </head>
  <body style="background-color: #ebf4e5">
    <header>
      <nav class="navbar navbar-light" style="background-color: #85bb65">
        <div class="container">
          {% with request.resolver_match.view_name as view_name %}
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'deals:home' %}active{% endif %}"
                 href="{% url 'deals:home' %}"
                 style="{% if view_name == 'deals:home' %}
                 background-color: #1c732b; border: 1px solid #c0c0c0;
                 {% endif %}color: #000000">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'deals:deal' %}active{% endif %}"
                 href="{% url 'deals:deal' %}"
                 style="{% if view_name == 'deals:deal' %}
                 background-color: #1c732b; border: 1px solid #c0c0c0;
                 {% endif %}color: #000000">
                Deals
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name == 'deals:trader' %}active{% endif %}"
                 href="{% url 'deals:trader' %}"
                 style="{% if view_name == 'deals:trader' %}
                 background-color: #1c732b; border: 1px solid #c0c0c0;
                 {% endif %}color: #000000">
                Trading bots
              </a>
            </li>
          </ul>
          {% endwith %}
        </div>
      </nav>
    </header>
    <main>
      {% block content %}
        Content
      {% endblock content %}
    </main>
  </body>
</html>